<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'ui form' }) do |f| %>
  <h2 class="ui dividing header">Log in</h2>

  <div class="field"><%= f.label :email %>
  <%= f.email_field :email, autofocus: true %></div>
  <div class="ui hidden divider"></div>

  <div class="field"><%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %></div>
  <div class="ui hidden divider"></div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <div class="ui checkbox">
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      </div>
    </div>
  <% end -%>
  <div class="ui hidden divider"></div>

  <div class="field"><%= f.submit "Log in", class: 'ui submit button' %></div>
<% end %>

<div class="ui divider"></div>

<%= render "drivers/shared/links" %>
